@keyframes appear {
    from {
        font-size: 0;
        opacity: 0;
        bottom: 0;
    }
    to {
        font-size: 30px;
        opacity: 1;
        bottom: 0;
    }
}

@-webkit-keyframes appear {
    from {
        font-size: 0;
        opacity: 0;
    }
    to {
        font-size: 30px;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        color: black;
    }
    to {
        color: $primaire_violet;
    }
}

@-webkit-keyframes disappear {
    from {
        font-size: 0;
        opacity: 5;
    }
    to {
        font-size: 30px;
        opacity: 0;
    }
}