@keyframes appear {
    from {
        font-size: 0;
        opacity: 0;
        bottom: 0;
    }
    to {
        font-size: 30px;
        opacity: 1;
        bottom: 0;
    }
}

@-webkit-keyframes appear {
    from {
        font-size: 0;
        opacity: 0;
    }
    to {
        font-size: 30px;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        color: black;
    }
    to {
        color: $primaire_violet;
    }
}

@-webkit-keyframes disappear {
    from {
        color: black;
    }
    to {
        color: $primaire_violet;
    }
}

@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}

@-webkit-keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}


@keyframes fadein {
    from {
        opacity:0;
        margin-top: 5px;
    }
    to {
        margin-top: 0px;
        opacity:1;
        background-color: red;
    }
}

