@keyframes like {
    from {
        font-size: 0;
        opacity: 0;
    }
    to {
        font-size: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes like {
    from {
        font-size: 0;
        opacity: 0;
    }
    to {
        font-size: 30px;
        opacity: 1;
    }
}