.btn {
    all: unset;
    font-weight: 500;
    padding: 1em;
    border-radius: 30px;
    
    &.big_btn {
        font-size: 18px;
        color: white;
        background: rgb(255, 121, 218);
        background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);

    }
}