main {
    section {
        padding: 50px 20px;

        .content {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .card {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                border-radius: 30px;
                overflow: hidden;
                background-color: white;

                .thumbnail {
                    overflow: hidden;
                    height: 250px;
                    width: 100%;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                .about {
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    padding: 10px;
                    gap: 10px;
                    width: 80%;
                    h3,
                    p {
                        margin: 0;
                    }
                }

                .like {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    width: 20%;
                    float: right;
                    height: unset;
                    font-size: 30px;

                    i {
                        display: block;
                        font-size: 30px;
                        color: black;

                        ::before {
                            font-size: 0;
                        }
                    }

                    &:hover {
                        i::before {
                            content: "\f004";
                            font-family: "FontAwesome";
                            font-size: 30px;
                            background: rgb(255, 121, 218);
                            background: linear-gradient(0deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
                            background-size: 100%;
                            background-repeat: repeat;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -moz-background-clip: text;
                            -moz-text-fill-color: transparent;

                            transition: all 0.3s linear 0s;
                        }
                    }
                }
            }
        }

        &:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $background_grey;
            padding: 0;

            input {
                all: unset;
                text-align: center;
                padding: 20px 10px;
                font-weight: 600;
                font-size: 18px;
                color: $dark_grey;
                background-color: $medium_grey;
                font-family: "Roboto", "FontAwesome";
                &::placeholder {
                    color: $dark_grey;
                }
            }

            > div {
                text-align: center;
                padding: 1em 1em;

                h2 {
                    padding: 20px 1em;
                }

                button {
                    margin-bottom: 40px;
                }
            }
        }

        &:nth-child(2) {
            h2 {
                margin-bottom: 30px;
            }

            .select_card {
                padding-left: 10px;
                label {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    background-color: $background_grey;
                    border-radius: 20px;
                    padding-left: 50px;
                    color: $dark_grey;
                }

                input[type="checkbox"] {
                    display: none;

                    &:checked {
                        + label {
                            background-color: mix(white, $primaire_violet, 90%);

                            i {
                                color: $primaire_violet;
                            }
                        }
                    }
                }

                h3 {
                    margin-left: 1.5em;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: -10px;
                    font-size: 15px;
                    color: white;
                    border-radius: 50%;
                    background-color: $primaire_violet;
                    width: 25px;
                    height: 25px;
                }
            }
        }

        &:nth-child(3) {
            background-color: $background_grey;
        }
    }
}
