@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import "buttons";
@import "variables";
@import "layout";
@import "elements";
@import "anime";
@import "media";
@import "pages/layout";

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}
