@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

$primaire_violet: #9356dc;
$secondaire_rose: #ff79da;
$tertiaire_vert: #99e2d0;
$background_grey: rgb(233, 233, 233);
$medium_grey: rgb(236, 236, 236);
$dark_grey: #474747;

h1 {
    font-family: "Shrikhand", "cursive";
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    text-align: center;
}

main {
    section {
        &:nth-child(1) {
            input {
                all: unset;
                width: 100%;
                padding: 20px 10px;
                font-weight: 600;
                font-size: 18px;
                color: $dark_grey;
                background-color: $medium_grey;
                font-family: "Roboto", "FontAwesome";
                &::placeholder {
                    color: $dark_grey;
                }
            }
        }
    }
}
