@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.btn {
  all: unset;
  font-weight: 500;
  padding: 1em;
  border-radius: 30px;
}
.btn.big_btn {
  font-size: 18px;
  color: white;
  background: rgb(255, 121, 218);
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
}

main section {
  padding: 50px 20px;
}
main section .content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
main section .content .card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
}
main section .content .card .thumbnail {
  overflow: hidden;
  height: 250px;
  width: 100%;
}
main section .content .card .thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
main section .content .card .about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
  width: 80%;
}
main section .content .card .about h3,
main section .content .card .about p {
  margin: 0;
}
main section .content .card .like {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 20%;
  float: right;
  height: unset;
  font-size: 30px;
}
main section .content .card .like i {
  display: block;
  font-size: 30px;
  color: black;
}
main section .content .card .like i ::before {
  font-size: 0;
}
main section .content .card .like:hover i::before {
  content: "\f004";
  font-family: "FontAwesome";
  font-size: 30px;
  background: rgb(255, 121, 218);
  background: linear-gradient(0deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: all 0.3s linear 0s;
}
main section:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  padding: 0;
}
main section:nth-child(1) input {
  all: unset;
  text-align: center;
  padding: 20px 10px;
  font-weight: 600;
  font-size: 18px;
  color: #474747;
  background-color: rgb(228, 228, 228);
  font-family: "Roboto", "FontAwesome";
}
main section:nth-child(1) input::placeholder {
  color: #474747;
}
main section:nth-child(1) > div {
  text-align: center;
  padding: 1em 1em;
}
main section:nth-child(1) > div h2 {
  padding: 20px 1em;
}
main section:nth-child(1) > div button {
  margin-bottom: 40px;
}
main section:nth-child(2) h2 {
  margin-bottom: 30px;
}
main section:nth-child(2) .select_card {
  padding-left: 10px;
}
main section:nth-child(2) .select_card label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  padding-left: 50px;
  color: #474747;
}
main section:nth-child(2) .select_card input[type=checkbox] {
  display: none;
}
main section:nth-child(2) .select_card input[type=checkbox]:checked + label {
  background-color: #f4eefc;
}
main section:nth-child(2) .select_card input[type=checkbox]:checked + label i {
  color: #9356dc;
}
main section:nth-child(2) .select_card h3 {
  margin-left: 1.5em;
}
main section:nth-child(2) .select_card span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
  font-size: 15px;
  color: white;
  border-radius: 50%;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
}
main section:nth-child(3) {
  background-color: rgb(247, 247, 247);
}

.brand {
  font-family: "Shrikhand", "cursive";
  margin: 15px 0 10px 0;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  margin: 0;
}

p {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
